.login-content {
	margin-top: 20px;
}

.password-form {
    margin-top: 10px;
}

.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #005da6;*/
}

.message {
    color: red;
}